.env
.env.*
!.env.example

.git
.gitignore
.gstack/

mise.local.toml
mise.*.local.toml
.mise.local.toml
.mise.*.local.toml

mise.local.lock
mise.*.local.lock
.mise.local.lock
.mise.*.local.lock

compose.yaml

bin/
coverage/
dist/
out/
sbom/
tmp/
web/assets/css/app.css.map

*.log
.DS_Store
